<app-header>
<div class="input-group-search">
    <div class="group-search-addon">
        <i class="icon">&#xe61d;</i>
        <i class="icon">&#xe636;</i>
    </div>
    <input class="form-control-search" type="search">
</div>
</app-header>
<div class="content-tabs">
    <div class="scroll-content">
        <article>
            <div class="list">
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/a.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/b.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/c.jpg">
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/a.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/b.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/c.jpg">
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/a.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/b.jpg">
                    </div>
                </div>
                <div class="item">
                    <div class="item-bottom">
                        <img src="assets/img/c.jpg">
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
