:host{
    left: 0;
    padding-bottom: 45px;
    position: absolute;
    right: 0;
    top: 0;
    touch-action: none;
    display: block;
    .img-watch-box{
        background-color: #fff;
        bottom: 0;
        display: block;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        padding-bottom: 100%;
        border-bottom: 1px solid #dbdbdb;
        .img-watch{
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            will-change: height,left,top,width,transform;
            position: absolute;
            transition: all 0.2s ease;
            transform: rotate(0deg);
        }
        button{
            background-color: transparent;
            border: none;
            bottom: 16px;
            outline: none;
            position: absolute;
            padding: 0;
            .icon{
                font-size: 40px;
                opacity: 0.6;
            }
        }
        button.enlarge{
            left: 16px;
        }
        button.rotate{
            right: 16px;
        }
    }
}

